* {
  margin: 0;
  padding: 0;
}

#container {
  background-color: #fff;
  height: 100%;
  display: flex;
  overflow: hidden;
  justify-content: space-around;
}

.frame {
  background-color: #e8e8e8;
}

/* *** Slides part *** */
#slides {
  width: 70vw;
  height: 73vh;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  margin-top: 10px;
}

/* *** Questions part *** */
#questions {
  height: 23vh;
  background-color: #fff;
  border: 10px solid #e8e8e8;
  border-radius: 20px;
  margin-top: 10px;
  padding: 10px;
  box-sizing: border-box;
}

div#questions p:first-child {
  color: #bfbfbf;
}

div#questions p {
  margin-bottom: 10px;
}

div#questions input {
  height: 30px;
  width: 300px;
  word-wrap: break-word;
  padding: 5px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

div#questions button {
  width: 60px;
  height: 30px;
  color: #fff;
  display: block;
  background-color: orange;
  border: 1px solid orange;
  border-radius: 10px;
  box-sizing: border-box;
  float: right;
  margin-right: 20px;
}

.container-section,
.vertical-sidebar {
  border-radius: 10px;
}

.bg-white {
  background-color: #fefefe;
}

.bg-gray {
  background-color: #e8e8e8;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center-horizontally {
  display: flex;
  justify-content: center;
}

.content-box {
  padding: 20px;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: calc(
    100% - 20px
  ); /* calc is required to prevent the margin overflowing the parent */
  height: calc(100% - 20px);
  box-sizing: border-box;
}

.slide-main-view {
  padding: 0px;
  width: 1000px;
  height: 600px;
}

.some-padding {
  padding: 10px;
}

.container-section {
  box-sizing: border-box;
}

.wh {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
}

.display-none {
  display: none;
}

#review {
  width: 25vw;
  height: 97vh;
  margin-top: 10px;
  border: none;
}

#reviewsIframe {
  height: 90%;
}