
        * {
            margin: 0;
            padding: 0;
        }

        body {
            width: 100vw;
            height: 100vh;
            overflow: hidden;
        }

        #container {
            width: 100%;
            height: 100%;
        }

        /* *** Toolbar *** */
        #toolBar {
            height: 40px;
            background-color: #f4f4f4;
            padding: 20px;
            border-right: 1px solid #ddd;
            display: flex;
            justify-content: space-between;
        }

        .row {
            display: flex;
            background-color: red;
            border: 1px solid black;
        }

        .row ul {
            list-style-type: none;
            display: flex;
        }

        .option {
            padding: 10px;
            padding-top: 0px;
        }

        #toolBar button {
            margin-bottom: 5px;
        }

        #toolBar p {
            display: inline-block;
        }

        #drawingModeIndicator {
            visibility: hidden;
            color: white;
            background-color: red;
        }

        .inputs input {
            width: 100%;
        }

        /* *** editor *** */
        #editor {
            width: 100%;
            display: flex;
        }

        /* *** Left side of the window *** */
        #left {
            display: flex;
        }

        /* *** Outline *** */
        #outline {
            text-align: center;
            width: 5vw;
            height: 100vh;
            background-color: yellow;
            margin-left: 0px;
        }

        /* *** Slides *** */
        #slides {
            background-color: rgb(0, 204, 255);
            margin-left: 0px;
            width: 15vw;
            height: 100vh;
        }

        div#slides p:first-child {
            margin-top: 10px;
        }

        #newSlide {
            text-align: center;
        }

        #newSlide span{
            display: inline-block;
            margin-top: 70px;
        }

        #slides p {
            height: 200px;
            width: 80%;
            margin-left: 30px;
            margin-bottom: 20px;
            border: 1px solid black;
            border-radius: 30px;
        }

        /* *** Middle window *** */
        #middleWindow {
            height: 100vh;
            display: flex;
            flex-grow: 3;
            flex-direction: column;
            background-color: #ccc;
        }

        #main, #personalNotes, #question {
            width: 800px;
            margin: 20px auto;
        }

        /* *** Main *** */
        #main {
            height: 450px;
            border: 3px solid #ccc;
            position: relative;
            background-color: #f9f9f9;
        }

        /* *** main's slides *** */
        .slide {
            width: 100%;
        }

        .text-box, .title {
            position: absolute;
            padding: 10px;
            cursor: move;
            background-color: #fff;
        }

        .image-box {
            position: absolute;
            cursor: move;
        }

        .drawing-canvas {
            display: flex;
            justify-content: center;
            z-index: 0;
        }

        .outlined {
            background-color: #000;
            color: #fff;
        }

        /* *** Personal notes *** */
        #personalNotes {
            height: 150px;
            background-color: red;
            display: flex;
            border: 1px solid red;
            border-radius: 10px;
            margin-bottom: 10px;
            padding: 10px;
        }

        #notesSummary {
            border-right: 1px solid black;
            padding: 20px;
            padding-top: 0px;
        }

        #slidesNotes {
            margin-left: 60px;
        }

        #outline, #review {
            flex-direction: column;
            padding: 0 5px;
            border: 1px solid black;
        }

        #review {
            width: 15vw;
            height: 100vh;
        }
    