html,
body {
  font-family: Arial, sans-serif;
  /* Setting margin, padding, height is mandatory for html and body elements to fit the whole screen */
  margin: 0;
  padding: 0;
  height: 100%;
}
.bg-gray {
  background-color: #e8e8e8;
}

.bg-white {
  background-color: #fefefe;
}

.container-section,
.font-btn,
.toolbar,
.btn,
.vertical-sidebar,
.horizontal-sidebar,
.switchbar {
  border-radius: 10px;
}

input {
  box-sizing: border-box;
}

.btn {
  border: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  margin-right: 10px;
}

.clickable-btn:hover {
  filter: brightness(95%);
}

.clickable-btn:active {
  filter: brightness(85%);
}

.clickable-btn {
  background-color: #ffa500;
}

.searchable-btn {
  background-color: royalblue;
}

.indicator-btn {
  color: white;
  background-color: mediumvioletred;
}

.alternative-btn {
  color: black;
}

.font-btn {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
}

.btn-active {
  filter: brightness(90%);
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.flex-center-horizontally {
  display: flex;
  justify-content: center;
}
.flex-center-vertically {
  display: flex;
  align-items: center;
}

.container-section {
  box-sizing: border-box;
}

.some-padding {
  padding: 10px;
}

.wh {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
}

.horizontal-sidebar {
  height: 25%;
}

.vertical-sidebar {
  width: 25%;
  min-width: 420px;
}

.switchbar {
  padding: 7px;
}

.ovscroll {
  overflow: scroll;
}

.toolbar {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
}

.content-box {
  padding: 20px;
  /*    margin: 10px;*/
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: calc(
    100% - 20px
  ); /* calc is required to prevent the margin overflowing the parent */
  height: calc(100% - 20px);
  box-sizing: border-box;
}

.slide-main-view {
  padding: 0px;
  width: 1000px;
  height: 600px;
}

.slide-preview-container {
  width: 400px; /* = 0.4*1000 */
  height: 240px; /* = 0.4*600 */
  /*  overflow: hidden;*/
}
.slide-preview {
  /*    zoom: 0.3;*/
  transform: scale(0.4);
  transform-origin: 0 0;
  padding: 0px;
  width: 1000px;
  height: 600px;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}

h3 {
  margin-top: 0;
}

h2 {
  margin-top: 0;
}

ul {
  padding-left: 20px;
}

p {
  margin: 10px 0;
}

.slide {
  border: 2px solid #ccc;
  width: 100%;
  height: 100%;
  /*  margin: 20px auto;*/
  /*      padding: 20px;*/
  background-color: #f9f9f9;
  box-sizing: border-box;
  position: relative;
}

.selected {
  border: 4px solid red;
  /*  box-sizing: border-box;*/
}

#container input {
  height: 30px;
  width: 300px;
  word-wrap: break-word;
  padding: 5px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

.text-box {
  /*  position: absolute;*/
  padding: 10px;
  background-color: #fff;
  left: 10px;
  top: 10px;
  cursor: text;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
/*
[contenteditable] {
  outline: 0px solid transparent;
}
*/
.image-box {
  /*  position: absolute;*/
  cursor: pointer;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.drawing-canvas {
  display: flex;
  justify-content: center;
  z-index: 0;
}

.display-none {
  display: none;
}

#container {
  height: 100vh;
  background-color: #fff;
  margin-top: 0px;
}

#container p {
  background-color: #e0e0e0;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  height: 70px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding: 10px;
  box-sizing: border-box;
}

#container p:first-of-type {
  margin-top: 40px;
}

#container p.selected {
  border: 2px solid #6366f1;
}

#container img {
  float: right;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#questionDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
  top: 10px;
}

#questionDiv img {
  width: 32px;
  position: relative;
  margin-left: 30px;
  bottom: 0px;
}

.draggable {
  position: absolute;
  border: 1px solid transparent;
}

.resize-handle {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: black;
}

.top-left {
  top: -5px;
  left: -5px;
  cursor: nwse-resize;
}

.top-right {
  top: -5px;
  right: -5px;
  cursor: nesw-resize;
}

.bottom-left {
  bottom: -5px;
  left: -5px;
  cursor: nesw-resize;
}

.bottom-right {
  bottom: -5px;
  right: -5px;
  cursor: nwse-resize;
}

.draggable-border {
  cursor: move;
}
